body {
  font-size: 16px;
  color: #fff;
  background-color: white;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 10px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: black;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list a {
  color: black;
  font-weight: bold;
  text-align: center;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid black;
}
#nav-list{
  margin-top: 0;
  margin-bottom: 0;
  background-color: white;
}

h2{
  margin-top: 0;
  color: black;
  padding-bottom: 25px;
}
h3{
  color: black;
  padding-bottom: 30px;
}
#chicken-tile,#beef-tile,#sushi-tile {
  background-color: grey;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
}
#chicken-tile p,#beef-tile p,#sushi-tile p{
  color: black;
}
#chicken-tile a,#beef-tile a,#sushi-tile a{
  color: purple;
}



